body {
    background-color: rgb(255, 224, 166);
}

header {
    text-align: center;
}

header > p {
    margin-top: 0%;
    color: purple;
}

#website_title {
    font-size: 90px;
    color: rgb(63, 5, 5);
    margin-bottom: 0%;
    padding-bottom: 0%;
}

@keyframes test {
    from {font-size: small;}
    to {font-size: large;}
}

#website_title+p {
    rotate: 2deg;
    animation: test;
    animation-duration: 2s;
}

article .animal_name {
    color: blue;
    text-decoration: underline;
}

article {
    display: inline-block;
    max-width: 400px;
    padding: 30px;
    vertical-align: top;
}

.animal_description {
    color: green;
    text-align: justify;
    width: inherit;
}

.animal_picture {
    filter: saturate(150%);
    width: 400px;
}
